{
  "service": {
    "name": "node_exporter",
    "tags": ["monitor-node"],
    "enableTagOverride": false,
    "check": {
        "interval": "10s",
        "timeout": "1s"
    },
    "port": 9100
  }
}
