[bastion]
BASTION_AWS

[es-masters]
{% for instance in all_terraform_outputs.es_masters.value %}
es-master-{{ loop.index0 }}
{% endfor %}

[es-workers]
{% for instance in all_terraform_outputs.es_workers.value %}
es-worker-{{ loop.index0 }}
{% endfor %}
