initials = "<my_initials>"

bastion_ingress_cidr = [
  "<my_ip>/32"
]

instances_vault_servers = {
  nb = 1
  type = "t2.micro"  # RAM: 1Gb
  root_hdd_size = 8
  root_hdd_type = "gp2"
}

public_key = "ssh-rsa <my_key>"
