[bastion]
BASTION_AWS

[consul-servers-bootstrap:children]
consul-masters

[consul-realm:children]
consul-masters

[consul-masters]
{% for instance in all_terraform_outputs.consul_masters.value %}
consul-master-{{ loop.index0 }}
{% endfor %}

[logstores]
{% for instance in all_terraform_outputs.logstores.value %}
logstore-{{ loop.index0 }}
{% endfor %}
