initials = "<my_initials>"

bastion_ingress_cidr = [
  "<my_ip>/32"
]

instances_consul_masters = {
  nb = 1
  type = "t2.micro"  # RAM: 1Gb
  root_hdd_size = 8
  root_hdd_type = "gp2"
}

instances_consul_clients = {
  nb = 1
  type = "t2.micro"  # RAM: 1Gb
  root_hdd_size = 8
  root_hdd_type = "gp2"
}

instances_logstores = {
  nb = 1
  type = "t2.medium" # RAM: 4Gb
  root_hdd_size = 8
  root_hdd_type = "gp2"
  ebs_hdd_size = 20
  ebs_hdd_type = "gp2"
  ebs_hdd_name  = "/dev/xvdb"
}

public_key = "ssh-rsa <my_key>"
