[bastion]
BASTION_AWS

[consul-servers-bootstrap:children]
nomad-masters

[nomad-servers-bootstrap:children]
nomad-masters

[nomad-masters]
{% for instance in all_terraform_outputs.nomad_masters.value %}
nomad-master-{{ loop.index0 }}
{% endfor %}

[nomad-workers]
{% for instance in all_terraform_outputs.nomad_workers.value %}
nomad-worker-{{ loop.index0 }}
{% endfor %}
